.form {
    margin-top: 70px;
    margin-left: 20px;
    width: 500px;
    font-family: verdana, arial;
    font-size: 100%;
    text-align: center;
}

.auth {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
    margin-left: 190px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

